@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GreaterTheory',sans-serif;
    src: url('../public/fonts/GreaterTheory.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }